.pageHeading {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18.78px;
    letter-spacing: -0.01em;
    text-align: left;
    /* flex-grow: 1; */
}

.headerAlignment{
    display:flex !important;
    justify-content:space-between !important;
    align-items:center !important;
    padding: 10px;
}

.left-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* Right side: Button and filters alignment */
.right-section {
    display: flex;
    align-items: center;
    gap: 10px; /* Add space between the button and filters */
    text-wrap-mode: nowrap;
}

.input-group-text {
    border-right: none;
    background-color: transparent;
}

.form-control {
    
    border-left: none;
}

::ng-deep.mdc-tab {
    min-width: unset !important;
    padding-right: 15px !important;
    padding-left: unset !important;
    display: flex;
    flex: 1 0 auto;
      flex-grow: 1;
    justify-content: left !important;
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    outline: none;
    text-align: left !important;
    white-space: nowrap;
    cursor: pointer;
    /* -webkit-appearance: none; */
    z-index: 1;
  }

    .badgeLayout {
        padding: 6px 10px 6px 10px;
        border-radius: 6px;
        opacity: 0px;

    }

    .all-bg-color {
        background-color:#212B36;
        color: white;
    }

    .answered-bg-color {
        background-color:#DBF6E5;
        color: #0C8A53;
    }   
    .closed-bg-color {
        background-color:#FEE4DE;
        color: #B9211C;
    }   
    .waiting-bg-color {
        background-color:#EEDFFE;
        color: #4C13B5;
    }   
    .open-bg-color {
        background-color:#FEF1D6;
        color: #BA7309;
    }   
    .inprogress-bg-color {
        background-color:#D6EBFF;
        color: #036CCD;
    }

    ::ng-deep .form-control:focus {
        box-shadow:unset !important;
        border-color: #dee2e6 !important;
    }

    ::ng-deep .mat-mdc-tab-header {
        display: -webkit-box !important;
        padding-left: 10px !important;
    }

    ::ng-deep .mat-mdc-card-content{
        padding-left: unset !important;
        padding-right: unset !important;
    }

    .dot-btn {
        /* width: Fixed (38px)px; */
        /* height: Fixed (34px)px; */
        padding: 5px 12px ;
        border-radius: 8px;
        border: solid 1px #DEE0E5;
    }

    .dotColor{
        color: #7D8595;
    }

    ::ng-deep .mat-mdc-header-cell {
        border-top-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12)) !important;
        border-top-width: var(--mat-table-row-item-outline-width, 1px) !important;
        border-top-style: solid !important;
      }

    .tHeadDesign {
        background-color: #F8F9FB;
        color: #9698A1;
    }

    .statusIndicator {
        display: inline-block; 
        width: 12px;
        height: 8px;
        border-radius: 100px; 
        margin-right: 2px;
      }

      ::ng-deep .custom-checkbox .mat-checkbox-frame {
        border-color: #FF5733 !important; /* Change to your desired border color */
      }

      .paginatorTextColor {
        color: #B5B7C0;
      }