
<div [ngClass]='{"blank-page": router.url === "/login" || router.url === "" }'>
    <app-sidebar *ngIf="isLoginPage()"></app-sidebar>
    
    <div class="main-content d-flex flex-column"
        [ngClass]="{'active': isToggled}"
        [ngStyle]="{'padding-left': isLoginPage() ?  '264px' : '0px' }">

        <app-header  *ngIf="isLoginPage()"></app-header>
    </div>
    
    <div class="main-content d-flex flex-column"
        [ngClass]="{'active': isToggled}"
        [ngStyle]="{'padding-left': isLoginPage() ?  '279px' : '0px' }">
        
        <router-outlet></router-outlet>
    </div>
</div>